asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
cssselect2==0.9.0
Django==5.2.9
django-filter==25.2
et_xmlfile==2.0.0
fonttools==4.61.1
openpyxl==3.1.5
pillow==12.0.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-decouple==3.8
sqlparse==0.5.4
tinycss2==1.5.1
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
