{% extends 'base.html' %}

{% load static %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">İş Emirleri /</span>Kapanan İş Emirleri</h4>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-4 ">
            <li class="nav-item me-2">
            </li>
            <li class="nav-item me-2">
                <a class="nav-link "  href="{% url 'order_page' %}"><i class="bx bx-add-to-queue me-1"></i> Aktif İş Emirleri </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link active"  href="{% url 'all_order_page' %}"><i class="bx bx-add-to-queue me-1"></i> Kapanan İş Emirleri </a>
            </li>
        </ul>
        <!--=== Filtreleme === -->
        <div class="card mb-4">
            <div class="card-body">
                <form method="get" class="row g-2">
                    <!-- Kuyu Numarası Filtreleme -->
                    <div class="col-md-2">
                        {{ filter.form.well_number.label_tag }}
                        {{ filter.form.well_number }}
                    </div>

                    <!-- Montaj Edilen Motor Filtreleme -->
                    <div class="col-md-3">
                        {{ filter.form.serial_number.label_tag }}
                        {{ filter.form.serial_number }}
                    </div>

                    <!-- Demontaj Edilen Motor Filtreleme -->
                    <div class="col-md-3">
                        {{ filter.form.outlet_plug_date_start.label_tag }}
                        {{ filter.form.outlet_plug_date_start }}
                    </div>

                    <!-- Çıkış Fişi Başlangıç Tarihi -->
                    <div class="col-md-3">
                        {{ filter.form.outlet_plug_date_end.label_tag }}
                        {{ filter.form.outlet_plug_date_end }}
                    </div>

                    <!-- Filtrele Butonu -->
                    <div class="col-md-1 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">
                            Filtrele
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive text-nowrap">
                <div class="container">
                    <table class="table table-striped mt32 customers-list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ç. Fişi </th>
                                <th>Ç. Fişi Trh.</th>
                                <th>Kuyu No</th>
                                <th>İlçe</th>
                                <th>Mahalle</th>
                                <th>M. Motor</th>
                                <th>M. Pompa</th>
                                <th>D. Motor</th>
                                <th>D. Pompa</th>
                                <th>G. Fişi</th>
                                <th>G. Fişi Trh.</th>
                                <th>Açıklama</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for item in items %}
                                <tr>
                                    <td scope="row">{{ items.start_index|add:forloop.counter0 }}</td>
                                    <td>{{ item.outlet_plug }}</td>
                                    <td>{{ item.outlet_plug_date }}</td>
                                    <td>{{ item.inventory.well_number }}</td>
                                    <td>{{ item.inventory.district|upper }}</td>
                                    <td>{{item.inventory.address}}</td>
                                    <td>{{item.mounted_engine}}</td>
                                    <td>{{item.mounted_pump}}</td>
                                    <td>{{item.disassembled_engine}}</td>
                                    <td>{{item.disassembled_pump}}</td>
                                    <td>{{item.entrance_plug}}</td>
                                    <td>{{item.entrance_plug_date}}</td>
                                    <td>{{item.comment}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="container-fluid">
                                    <a class="navbar-brand mb-0 h1">
                                        {{ items.paginator.count }} Kayıttan {{ items.start_index }}-{{ items.end_index }} arası
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <ul class="pagination justify-content-end px-4">
                                    {% if items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page={{ items.previous_page_number }}">
                                                ← Önceki
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page_number in items.paginator.page_range %}
                                        {% if page_number == items.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                                    {{ page_number }}
                                                </a>
                                            </li>
                                        {% elif page_number == items.paginator.ELLIPSIS %}
                                            <li class="page-item disabled"><span class="page-link">…</span></li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                                    {{ page_number }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if items.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page={{ items.next_page_number }}">
                                                Sonraki →
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


