{% extends 'base.html' %}

{% load static %}

{% block content%}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Depolar /</span> Kuyu Deposu</h4>

<div class="row">
  <div class="col-md-12">
       <ul class="nav nav-pills flex-column flex-md-row mb-4 ">
          <li class="nav-item me-2">
          </li>
          <li class="nav-item me-2">
            <a class="nav-link "  href="{% url 'add_inventory' %}"><i class="bx bx-add-to-queue me-1"></i> Ekle</a>
          </li>
      </ul> 
      <!--=== Filtreleme === -->
        <div class="card mb-4">
            <div class="card-body">
                <form method="get" class="row g-2">
                    <div class="col-md-2">
                        {{ filter.form.well_number.label_tag }}
                        {{ filter.form.well_number }}
                    </div>

                    <div class="col-md-2">
                        {{ filter.form.serialnumber.label_tag }}
                        {{ filter.form.serialnumber }}
                    </div>

                    <div class="col-md-2">
                        {{ filter.form.pump_type.label_tag }}
                        {{ filter.form.pump_type }}
                    </div>

                    <div class="col-md-2">
                        {{ filter.form.district.label_tag }}
                        {{ filter.form.district }}
                    </div>

                    <div class="col-md-2">
                        {{ filter.form.address.label_tag }}
                        {{ filter.form.address }}
                    </div>

                    <div class="col-md-1">
                        {{ filter.form.ordering.label_tag }}
                        {{ filter.form.ordering }}
                    </div>

                    <div class="col-md-1 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">
                            Filtrele
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
          <div class="table-responsive text-nowrap">
            <div class="container">
              <table class="table table-striped mt32 customers-list">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="th-sm">Kuyu Numarası</th>
                      <th>İlçe</th>
                      <th>Adres</th>
                      <th>D-Deriniği</th>
                      <th>M-Derinliği</th>
                      <th>Depo</th>
                      <th>Boru Tipi</th>
                      <th>Kablo</th>
                      <th>Motor</th>
                      <th>Pompa</th>
                      <th>Debi(Lt/sn)</th>
                      <th>Açıklama</th>
                      <th>Tarih</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                    <tbody class="table-border-bottom-0">
                      {% for item in items %}
                      <tr>
                        <td scope="row">{{ items.start_index|add:forloop.counter0 }}</td> 
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>
                            {% if item.status == 'passive' %}
                            <span class="badge bg-label-danger me-1">Pasif</span>
                            {% endif %} 
                            {{item.well_number}}</strong></td>
                        <td >{{item.get_district_display}}</span> </td>
                        <td>{{item.address}} </td>
                        <td>{{item.disassembly_depth}} </td>
                        <td>{{item.mounting_depth}} </td>
                        <td>{{item.tank_info}}</td>
                        <td>{{item.pipe_type}}</td>
                        <td>{{item.cable}}</td>
                        <td>{{item.engine}}</td>
                        <td>{{item.pump}}</td>
                        <td>{{item.flow}}</td>
                        <td>{{item.comment}}</td>
                        <td>{{item.create_at}}</td>
                        <td>
                          <button title="düzenle" class='btn btn-icon btn-outline-success edit btn-flat' data-href="{% url 'inventory_edit' item.id  %}">
                            <i class='tf-icons bx bx-edit'></i>
                          </button>
                          <button title="sil" class='btn btn-icon btn-outline-danger delete btn-flat' data-href="{% url 'delete_inventory' item.id %}">
                                  <i class='tf-icons bx bx-trash'></i>
                          </button>
                        </td>
                      </tr>
                      {% empty %}
                        <tr class="table-primary">
                        <td colspan="11" class="text-center "><strong> Kayıt Bulunamadı </strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="container-fluid">
                            <a class="navbar-brand mb-0 h1">
                                {{ items.paginator.count }} Kayıttan {{ items.start_index }}-{{ items.end_index }} arası
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <ul class="pagination justify-content-end px-4">
                            {% if items.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ query_string }}&page=1">
                                        İlk
                                    </a>
                                </li>
                            {% endif %}

                            {% if items.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ query_string }}&page={{ items.previous_page_number }}">
                                        ← Önceki
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_number in items.paginator.page_range %}
                                {% if page_number == items.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% elif page_number > items.number|add:-3 and page_number < items.number|add:3 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% elif page_number == items.paginator.ELLIPSIS %}
                                    <li class="page-item disabled"><span class="page-link">…</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if items.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ query_string }}&page={{ items.next_page_number }}">
                                        Sonraki →
                                    </a>
                                </li>
                            {% endif %}

                            {% if items.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ query_string }}&page={{ items.paginator.num_pages }}">
                                        Son
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </div>
        </div>
  </div>
</div>
<script>
      document.querySelectorAll('.edit').forEach(button => {
        button.addEventListener('click', function() {
            const editUrl = button.getAttribute('data-href');
            window.location.href = editUrl; 
        });
    });

      document.querySelectorAll('.delete').forEach(button => {
      button.addEventListener('click', function() {
          const deleteUrl = button.getAttribute('data-href');
            if (confirm("Bu kaydı silmek istediğinizden emin misiniz?")) {
              window.location.href = deleteUrl;  
          }
      });
  });

</script>
{% endblock content%}