{% extends 'base.html' %}

{% load static %}

{% block content%}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Envarter /</span>Yeni Marka Ekle</h4>
<div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills flex-column flex-md-row mb-4 ">
        <li class="nav-item me-2">
        </li>
        <li class="nav-item me-2">
          <a class="nav-link "  href="{% url 'add_pump' %}"><i class="bx bx-add-to-queue me-1"></i> Yeni Pompa</a>
        </li>
        <li class="nav-item me-2" >
          <a class="nav-link active"  href="{% url 'add_mark' %}"><i class="bx bx-add-to-queue me-1"></i> Yeni Marka</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link "  href="{% url 'add_power' %}"><i class="bx bx-add-to-queue me-1"></i> Yeni Güç</a>
        </li>
    </ul> 
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0" {% if form.engine_mark.errors %} style="color:#ff3e1d ;" {% endif %}>Yeni Marka Ekle</h5>
            </div>
            <div class="card-body">
              <form id="formAuthentication" action="{% url 'add_mark' %}" class="mb-3" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.engine_mark }}
                </div>
                <button type="submit" class="btn btn-primary" style="width: 150px;margin-left: auto;float: right;margin-top: -3px;">Kaydet</button>
              </form>
            </div>
          </div>
      <div class="card">
        <div class="table-responsive text-nowrap">
          <div class="container">
            <h3>
                <input type="search" style="width: 300px;margin-left: auto;float: right;margin-top: -3px;" placeholder="Search..." class="form-control search-input" data-table="customers-list" />
            </h3>
            <table class="table table-striped mt32 customers-list">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Marka</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for item in items %}
                    <tr>
                      <td scope="row">{{ items.start_index|add:forloop.counter0 }}</td>
                      <td>{{item.engine_mark}}</td>
                      <td>
                        <a type="button" class="btn btn-outline-danger delete-btn"  href="{% url 'mark_delete' item.id %}">Sil</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
      </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.delete-btn').click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            if (confirm("Bu kaydı silmek istediğinizden emin misiniz?")) {
                window.location.href = url;
            }
        });
    });
</script>
{% endblock content%}