{% extends 'base.html' %}

{% load static %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Depolar /</span> Kuyu Deposu</h4>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Envanter Ekle</h5>
      </div>
      <div class="card-body">
        <div class="container">
          <!-- Form Başlangıcı -->
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF koruması -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="well_number" class="form-label">Kuyu Numarası</label>
                {{ form.well_number }}
              </div>

              <div class="col-md-6 mb-3">
                <label for="district" class="form-label">İlçe</label>
                {{ form.district }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="address" class="form-label">Adres</label>
                {{ form.address }}
              </div>

              <div class="col-md-6 mb-3">
                <label for="disassembly_depth" class="form-label">Demontaj Derinliği</label>
                {{ form.disassembly_depth }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="mounting_depth" class="form-label">Montaj Derinliği</label>
                {{ form.mounting_depth }}
              </div>

              <div class="col-md-6 mb-3">
                <label for="tank_info" class="form-label">Depo Bilgisi</label>
                {{ form.tank_info }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="pipe_type" class="form-label">Boru Tipi</label>
                {{ form.pipe_type }}
              </div>

              <div class="col-md-6 mb-3">
                <label for="cable" class="form-label">Kablo</label>
                {{ form.cable }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-{% if request.resolver_match.url_name in 'inventory_edit' %}5 {% else %}6 {% endif %} mb-3">
                <label for="engine" class="form-label">Motor</label>
                {% if request.resolver_match.url_name in 'inventory_edit' %}
                  {{ form.engine }}
                  <input type="hidden" name="engine" value="{{ form.engine.value }}">
                {% else %}
                {{ form.seconhand_engine }}
                  <input type="hidden"
                            name="engine_row_identifier"
                            id="engine_row_identifier"
                            value="">
                  <div id="defaultFormControlHelp" class="form-text">
                    İstediğiniz değerde motor değeri listede görünmüyorsa <a href="{% url 'seconhand' %}">2.El Depo</a>  sekmesinden ekleyebilirsiniz.
                  </div>
                {% endif %}
              </div>
                {% if request.resolver_match.url_name in 'inventory_edit' %}
                  <div class="col-md-1 mb-3">
                    <label for="pump" class="form-label">Düzenle</label>
                    <a class="btn btn-success" title="Motor değerini düzenle." href="{% url 'engine_edit' form.engine.value %}?next={{ request.get_full_path }}"><i class="bx bx-add-to-queue me-1"></i> </a>
                  </div>
                {% endif %}

                <div class="col-md-{% if request.resolver_match.url_name in 'inventory_edit' %}5 {% else %}6 {% endif %} mb-3">
                  <label for="pump" class="form-label">Pompa</label>
                  {% if request.resolver_match.url_name in 'inventory_edit' %}
                    <!-- GÖSTERİM İÇİN -->
                      <input class="form-control"
                            id="pump_display"
                            value="{{ form.instance.pump }}"
                            readonly>

                      <!-- GERÇEK DEĞER -->
                      <input type="hidden"
                            name="pump"
                            id="id_hidden_pump"
                            value="{{ form.pump.value }}">
                  {% else %}
                    {{ form.seconhand_pump  }}
                    <input type="hidden"
                            name="pump_row_identifier"
                            id="pump_row_identifier"
                            value="">
                    {% endif %}
                    <div id="defaultFormControlHelp" class="form-text">
                      İstediğiniz değerde pompa değeri listede görünmüyorsa <a href="{% url 'seconhand' %}">2.El Depo</a>  sekmesinden ekleyebilirsiniz.
                    </div>
                </div>
                {% if request.resolver_match.url_name in 'inventory_edit' %}
                  <div class="col-md-1 mb-3">
                    <label for="pump" class="form-label">Düzenle</label>
                    <button type="button" title="Pompa değerini düzenle." class="btn btn-success" data-bs-toggle="modal" data-bs-target="#smallModal" data-action="add">
                      <i class="bx bx-add-to-queue me-1 "></i>
                    </button>
                  </div>
                  <!-- Modal -->
                    <div class="modal fade" id="smallModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Pompa Seç</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label  class="form-label">Pompa Bilgisi</label>
                                            <select class="form-select select2" id="pump_select">
                                                <option value="">---------</option>
                                                {% for item in pump_list %}
                                                    <option value="{{ item.id }}" {% if item.id == selected_pump.id %}selected{% endif %}>
                                                        {{ item }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                                    <button type="button" class="btn btn-primary" id="savePumpBtn">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="flow" class="form-label">Debi</label>
                {{ form.flow }}
              </div>

              <div class="col-md-6 mb-3">
                <label for="comment" class="form-label">Açıklama</label>
                {{ form.comment }}
              </div>
            </div>
            <div class="text-end mt-3">
              <a href="{% url 'inventory' %}" class="btn btn-secondary">
                Vazgeç
              </a>
              <button type="submit" class="btn btn-primary" >
                {% if request.resolver_match.url_name in 'add_inventory' %}
                  Kaydet 
                {% else %}
                  Düzenle
                {% endif %}
              </button>
            </div>
          </form>
          <!-- Form Bitişi -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

    $('#pump_select').select2({
        dropdownParent: $('#smallModal'),
        width: '100%'
    });

    $('#select-pump').select2({
        width: '100%'
    });

    $('#select-engine').select2({
        width: '100%'
    });
    
     // Sayfa açıldığında, eğer pump'ın bir değeri varsa, pump_row_identifier'ı güncelle
    const selectedPumpText = $('#select-pump option:selected').text();
    if (selectedPumpText) {
        $('#pump_row_identifier').val(selectedPumpText);  // Seçilen metni hidden input'a ekle
    }
    // Sayfa açıldığında, eğer engine'in bir değeri varsa, engine_row_identifier'ı güncelle
    const selectedEngineText = $('#select-engine option:selected').text();
    if (selectedEngineText) {
        $('#engine_row_identifier').val(selectedEngineText);  // Seçilen metni hidden input'a ekle
    }

    // Pump seçeneği değiştiğinde çalışacak olan fonksiyon
    $('#select-pump').on('change', function() {
        var selectedPumpText = $('#select-pump option:selected').text();
        $('#pump_row_identifier').val(selectedPumpText);  // Hidden input'u güncelle
    });

    // Engine seçeneği değiştiğinde çalışacak olan fonksiyon
    $('#select-engine').on('change', function() {
        var selectedEngineText = $('#select-engine option:selected').text();
        $('#engine_row_identifier').val(selectedEngineText);  // Hidden input'u güncelle
    });

    // Modal açıldığında mevcut pump seçili gelsin
    $('#smallModal').on('shown.bs.modal', function () {
        let currentPumpId = $('#id_pump').val();
        if (currentPumpId) {
            $('#pump_select').val(currentPumpId).trigger('change');
        }
    });
  });
    document.addEventListener("DOMContentLoaded", function() {
        const saveBtn = document.getElementById("savePumpBtn");
        const pumpSelect = document.getElementById("pump_select");
        const hiddenPump = document.getElementById("id_hidden_pump");
        const displayPump = document.getElementById("pump_display");

        saveBtn.addEventListener("click", function() {
            const selectedOption = pumpSelect.options[pumpSelect.selectedIndex];
            const selectedValue = selectedOption.value;
            const selectedText = selectedOption.text;

            // Hidden input ve display input'u güncelle
            hiddenPump.value = selectedValue;
            displayPump.value = selectedText;

            // Modal'ı kapat
            const modalEl = document.getElementById('smallModal');
            const modal = bootstrap.Modal.getInstance(modalEl);
            modal.hide();
        });
    });
</script>



{% endblock content %}
