{% extends 'base.html' %}

{% load static %}
{% load tag_library %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">İş Emirleri /</span>Aktif İş Emirleri</h4>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-4 ">
            <li class="nav-item me-2">
            </li>
            <li class="nav-item me-2">
                <a class="nav-link "  href="{% url 'all_order_page' %}"><i class="bx bx-add-to-queue me-1"></i> Kapanan İş Emirleri </a>
            </li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Yeni iş Emri Oluştur</h5>
            <div class="card-body" >
                <form  method="POST">
                    {% csrf_token %}
                    <div class="row gx-3 gy-2 align-items-center" >
                        <div class="col-md-3"  >
                            <label for="defaultFormControlInput" class="form-label">Kuyu Numarası</label>
                            <input type="text"  class="form-control" name="well_number" placeholder="kuyu numarası "  autofocus="" required>
                        </div>
                        <div class="col-md-3" >
                            <label class="form-label" for="showToastPlacement">&nbsp;</label>
                            <button type="submit"  class="btn btn-primary d-block ">Oluştur</button>
                        </div>
                    </div>
                </form>
                <div id="defaultFormControlHelp" class="form-text">
                    İş Emri oluşturmak istediğiniz tesis için KUYU numarasını giriniz.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="get" class="row g-2">
                    <!-- Kuyu Numarası Filtreleme -->
                    <div class="col-md-2">
                        {{ filter.form.well_number.label_tag }}
                        {{ filter.form.well_number }}
                    </div>

                    <!-- Montaj Edilen Motor Filtreleme -->
                    <div class="col-md-3">
                        {{ filter.form.serial_number.label_tag }}
                        {{ filter.form.serial_number }}
                    </div>

                    <!-- Demontaj Edilen Motor Filtreleme -->
                    <div class="col-md-3">
                        {{ filter.form.district.label_tag }}
                        {{ filter.form.district }}
                    </div>

                    <!-- Çıkış Fişi Başlangıç Tarihi -->
                    <div class="col-md-3">
                        {{ filter.form.address.label_tag }}
                        {{ filter.form.address }}
                    </div>

                    <!-- Filtrele Butonu -->
                    <div class="col-md-1 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">
                            Filtrele
                        </button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="table-responsive text-nowrap">
                <div class="container">
                    <table class="table table-striped mt32 customers-list">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Ç. Fişi </th>
                                <th>Ç. Fişi Trh.</th>
                                <th>Kuyu No</th>
                                <th>İlçe</th>
                                <th>Mahalle</th>
                                <th>M. Motor</th>
                                <th>M. Pompa</th>
                                <th>D. Motor</th>
                                <th>D. Pompa</th>
                                <th>G. Fişi</th>
                                <th>G. Fişi Trh.</th>
                                <th>Açıklama</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for item in items %}
                                <tr>
                                    <td>
                                        <a class='btn btn-icon btn-outline-success  btn-flat' href="{% url 'order_edit' item.id  %}">
                                            <i class='tf-icons bx bx-edit'></i>
                                        </a>
                                        <button title="sil" class='btn btn-icon btn-outline-danger delete btn-flat'
                                            data-id="{{ item.id }}" 
                                            data-pump="{{ item.pump_info }}"
                                            data-engine="{{ item.engine_info }}">
                                            <i class='tf-icons bx bx-trash'></i>
                                        </button>
                                    </td>
                                    <td scope="row">{{ items.start_index|add:forloop.counter0 }}</td>
                                    <td>{{ item.outlet_plug }}</td>
                                    <td>
                                        <span class="{% if item.outlet_plug_date|day_diff >= 2 %} badge bg-label-danger me-1 {% endif %}">
                                            {{ item.outlet_plug_date }}
                                        </span>
                                    </td>
                                    <td>{{ item.inventory.well_number }}</td>
                                    <td>{{ item.inventory.district|upper }}</td>
                                    <td>{{item.inventory.address}}</td>
                                    <td>
                                        {% if item.engine_info %}
                                        {{item.engine_info}}-{{item.mounted_engine}}
                                        {% else %}
                                        {{item.mounted_engine}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.pump_info %}
                                        {{item.pump_info}}-{{item.mounted_pump}}
                                        {% else %}
                                        {{item.mounted_pump}}
                                        {% endif %}
                                    </td>
                                    <td>{{item.disassembled_engine}}</td>
                                    <td>{{item.disassembled_pump}}</td>
                                    <td>{{item.entrance_plug}}</td>
                                    <td>{{item.entrance_plug_date}}</td>
                                    <td>{{item.comment}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Modal Delete -->
                    <div class="modal fade" id="transfer" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">İş Emri Silinecek</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="formAuthentication" action = "{% url 'order_delete' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="row">
                                            <input type="hidden" id="order_value" name="order_value" class="form-control" value=""  />
                                            <div class="col mb-3">
                                                <label for="pumpSelect" class="form-label">Pompa Sıra Seç</label>
                                                <select id="pumpSelect" name="pump_row_identifier" class="form-select" >
                                                    <option value="" selected="">---------</option>
                                                    {% for item in null_list %}
                                                        <option value="{{ item.row_identifier }}">{{item.row_identifier}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col mb-3">
                                                <label for="engineSelect" class="form-label">Motor Sıra Seç</label>
                                                <select id="engineSelect" name="engine_row_identifier" class="form-select" >
                                                    <option value="" selected="">---------</option>
                                                    {% for item in null_list %}
                                                        <option value="{{ item.row_identifier }}">{{item.row_identifier}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                                        <button type="submit" class="btn btn-danger">Sil</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="container-fluid">
                                    <a class="navbar-brand mb-0 h1">
                                        {{ items.paginator.count }} Kayıttan {{ items.start_index }}-{{ items.end_index }} arası
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <ul class="pagination justify-content-end px-4">
                                    {% if items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page=1">
                                                İlk
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page={{ items.previous_page_number }}">
                                                ← Önceki
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page_number in items.paginator.page_range %}
                                        {% if page_number == items.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                                    {{ page_number }}
                                                </a>
                                            </li>
                                        {% elif page_number > items.number|add:-3 and page_number < items.number|add:3 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?{{ query_string }}&page={{ page_number }}">
                                                    {{ page_number }}
                                                </a>
                                            </li>
                                        {% elif page_number == items.paginator.ELLIPSIS %}
                                            <li class="page-item disabled"><span class="page-link">…</span></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if items.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page={{ items.next_page_number }}">
                                                Sonraki →
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if items.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{{ query_string }}&page={{ items.paginator.num_pages }}">
                                                Son
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Silme butonuna tıklama olayını dinle
    document.querySelectorAll('.delete').forEach(function(button) {
        button.addEventListener('click', function() {
            // Silme butonundan verileri al
            var pumpInfo = button.getAttribute('data-pump');
            var engineInfo = button.getAttribute('data-engine');
            var orderValue = button.getAttribute('data-id');

            // Modalı al
            var modal = new bootstrap.Modal(document.getElementById('transfer'));

            // Pompa ve motor seçim alanlarını al
            var pumpSelect = document.getElementById('pumpSelect');
            var engineSelect = document.getElementById('engineSelect');

            // Pompa ve motor alanlarını sıfırla
            pumpSelect.selectedIndex = 0;
            engineSelect.selectedIndex = 0;

            $('#order_value').val(orderValue);

            // Pompa ve motor seçim alanlarının 'required' özelliğini kaldır
            pumpSelect.removeAttribute('required');
            engineSelect.removeAttribute('required');
        // Pompa bilgisi yoksa, pompa alanını gizle
            if (pumpInfo === "None" || pumpInfo === null || pumpInfo === "") {
                pumpSelect.parentElement.style.display = 'none'; // Pompa alanını gizle
            } else {
                pumpSelect.parentElement.style.display = 'block'; // Pompa alanını göster
                pumpSelect.setAttribute('required', 'required');
            }

            // Motor bilgisi yoksa, motor alanını gizle
            if (engineInfo === "None" || engineInfo === null || engineInfo === "") {
                engineSelect.parentElement.style.display = 'none'; // Motor alanını gizle
            } else {
                engineSelect.parentElement.style.display = 'block'; // Motor alanını göster
                engineSelect.setAttribute('required', 'required');
            }
            // Modali göster
            modal.show();
        });
    });
</script>


{% endblock content %}


