{% extends 'base.html' %}

{% load static %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Diğer Malzemeler /</span>Malzeme Çıkış İşlemi</h4>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
              {{ form.outlet_plug.label_tag }}
              {{ form.outlet_plug }}
          </div>
          <div class="mb-3">
              {{ form.well_number.label_tag }}
              {{ form.well_number }}
          </div>
          <div class="mb-3">
              {{ form.district.label_tag }}
              {{ form.district }}
          </div>
          <div class="mb-3">
              {{ form.address.label_tag }}
              {{ form.address }}
          </div>
          <div class="mb-3">
              {{ form.stock.label_tag }}
              {{ form.stock }}
          </div>
          <div class="mb-3">
              {{ form.quantity.label_tag }}
              {{ form.quantity }}
          </div>

          <a href="{% url 'category_stock_out' %}" class="btn btn-secondary">
              Vazgeç
          </a>
          <button type="submit" class="btn btn-primary">Kaydet</button>
          <button type="submit" name="save_and_add" class="btn btn-success">
            Kaydet ve Yeni Ekle
        </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
    function initSelect2(context = document) {
        $(context).find('select.select2').each(function () {
            if (!$(this).hasClass('select2-hidden-accessible')) {
                $(this).select2({
                    width: '100%',
                    placeholder: 'Seçiniz...',
                    allowClear: true,
                    dropdownParent: $(this).closest('.modal').length
                        ? $(this).closest('.modal')
                        : $('body')
                });
            }
        });
    }

    initSelect2();
});
</script>
{% endblock content %}
