{% extends 'base.html' %}
{% load static %}
{% load tag_library %}

{% block content %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Diğer Malzemeler /</span>Malzeme Listesi</h4>

<div class="row">
    <div class="col-md-12">

        <!-- Kategori Linki -->
        <ul class="nav nav-pills flex-column flex-md-row mb-4 ">
            <li class="nav-item me-2">
                <a class="nav-link" href="{% url 'category' %}"><i class="bx bx-add-to-queue me-1"></i> Kategori</a>
            </li>
        </ul>

        <!-- Filtreleme -->
        <div class="card mb-4">
            <div class="card-body">
                <form method="get" class="row g-2">
                    <div class="col-md-2">
                        {{ filter.form.category.label_tag }}
                        {{ filter.form.category }}
                    </div>
                    <div class="col-md-2">
                        {{ filter.form.material_name.label_tag }}
                        {{ filter.form.material_name }}
                    </div>
                    <div class="col-md-2">
                        {{ filter.form.min_quantity.label_tag }}
                        {{ filter.form.min_quantity }}
                    </div>
                    <div class="col-md-2">
                        {{ filter.form.max_quantity.label_tag }}
                        {{ filter.form.max_quantity }}
                    </div>
                    <div class="col-md-1 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Filtrele</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Malzeme Listesi -->
        <div class="card">
            {% if request.user.authorization != "3" %}
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="btn btn-primary" href="{% url 'new_category_stock' %}"> Yeni Ekle</a>
            </div>
            {% endif %}

            <!-- Tablo -->
            <div class="table-responsive text-nowrap">
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori</th>
                            <th>Malzeme Adı</th>
                            <th>Miktar</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ items.start_index|add:forloop.counter0 }}</td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.material_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                {% if request.user.authorization != "3" %}
                                <button title="düzenle" class='btn btn-icon btn-outline-success edit btn-flat' 
                                    data-href="{% url 'edit_category_stock' item.id %}?next={{ request.get_full_path }}">
                                    <i class='tf-icons bx bx-edit'></i>
                                </button>
                                <button class="btn btn-outline-danger delete"
                                        data-href="{% url 'delete_category_stock' item.id %}?next={{ request.get_full_path }}">
                                    <i class='tf-icons bx bx-trash'></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
     document.querySelectorAll('.edit').forEach(button => {
        button.addEventListener('click', function() {
            const editUrl = button.getAttribute('data-href');
            window.location.href = editUrl; 
        });
    });
    // Silme işlemi
    $('.delete').on('click', function () {
        const deleteUrl = $(this).data('href');
        if (confirm("Bu kaydı silmek istediğinizden emin misiniz?")) {
            window.location.href = deleteUrl;
        }
    });

</script>
{% endblock content %}